**/*.pyc
.coverage
.pytest_cache
.venv/
coverage.xml
venv/
.env/
.idea/
/.env
.envrc
/.python-version
.vscode/
.poetry_ts
*.sw*
*.orig
target
.DS_Store
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
.claude

